##### 1. Faça a importação do módulo Pandas

In [75]:
import pandas as pd

##### 2. Crie um Dataframe com as séries: Nome, Idade, prato favorito. Preencha com seus dados e da sua família. Fique a vontade para adicionar novas colunas.

In [76]:
df = pd.DataFrame(
    {
        'Nome': ['Bruno', 'Rosa', 'Marcelino' ],
        'Idade': [29, 59, 62],
        'Prato Favorito': ['Pizza', 'Feijoada', 'Carne de Bode']
    }
)

##### 3. Qual a idade média da sua família?

In [154]:
print(f'A idade média da minha familia é {df["Idade"].mean()} anos')

A idade média da minha familia é 50.0 anos

##### 4. Qual a maior e a menor idade de sua família?

In [156]:
print(f'A maior idade da minha familia é de {df["Idade"].max()} anos e a menos idade de {df["Idade"].min()} ')

A maior idade da minha familia é de 62 anos e a menos idade de 29

##### 5. Faça uma pesquina na internet e busque os seguintes dados:
Nome dos estados brasileiros;
Sigla dos estados;
Região;
Capital;
Polulação.

##### 6. Adicione estas informações em um Datafrane;

In [80]:
df_estados = pd.DataFrame(
    {
        'Estado': ['Acre','Alagoas','Amapá','Amazonas','Bahia','Ceará','Distrito Federal','Espírito Santo','Goiás','Maranhão','Mato Grosso','Mato Grosso do Sul','Minas Gerais','Pará','Paraíba','Paraná','Pernambuco','Piauí','Rio de Janeiro','Rio Grande do Norte','Rio Grande do Sul','Rondônia','Roraima','Santa Catarina','São Paulo','Sergipe','Tocantins'],

        'Sigla': ['AC','AL','AP','AM','BA','CE','DF','ES','GO','MA','MT','MS','MG','PA','PB','PR','PE','PI','RJ','RN','RS','RO','RR','SC','SP','SE','TO'],

        'Região': ['Norte', 'Nordeste', 'Norte','Norte','Nordeste','Nordeste','Centro-Oeste', 'Sudeste','Centro-Oeste','Nordeste','Centro-Oeste', 'Centro-Oeste','Sudeste','Norte','Nordeste','Sul','Nordeste','Nordeste','Sudeste','Nordeste','Sul','Norte','Norte','Sul','Sudeste','Nordeste','Norte'],

        'Capital': ['Rio Branco','Maceió','Macapá','Manaus','Salvador','Fortaleza','Brasília','Vitória','Goiânia','São Luís','Cuiabá','Campo Grande','Belo Horizonte','Belém','João Pessoa','Curitiba','Recife','Teresina','Rio de Janeiro','Natal','Porto Alegre','Porto Velho','Boa Vista','Florianópolis','São Paulo','Aracaju','Palmas'],

        'População': [ 790101, 3120494, 669526, 3483985, 14016906, 8452381, 2570160, 3514952, 6003788, 6574789, 3035122, 2449024, 19597330, 7581051, 3766528, 10444526, 8796448, 3118360, 15989929, 3168027, 10693929, 1562409, 450479, 6248436, 41262199, 2068017, 1383445 ]
}
)

##### 7. Exiba na tela apenas a sigla e a população;

In [82]:
df_estados[['Sigla','População']]

   Sigla  População
0     AC     790101
1     AL    3120494
2     AP     669526
3     AM    3483985
4     BA   14016906
5     CE    8452381
6     DF    2570160
7     ES    3514952
8     GO    6003788
9     MA    6574789
10    MT    3035122
11    MS    2449024
12    MG   19597330
13    PA    7581051
14    PB    3766528
15    PR   10444526
16    PE    8796448
17    PI    3118360
18    RJ   15989929
19    RN    3168027
20    RS   10693929
21    RO    1562409
22    RR     450479
23    SC    6248436
24    SP   41262199
25    SE    2068017
26    TO    1383445

##### 8. Qual o estado com a maior população?

In [84]:
df_estados[df_estados['População'] == df_estados['População'].max()]

       Estado Sigla   Região    Capital  População
24  São Paulo    SP  Sudeste  São Paulo   41262199

##### 9. Qual a quantidade de estados?

In [159]:
print(f'São {df_estados["Estado"].count()} estados ao todo.')

São 27 estados ao todo.

##### 10. Crie novos Dataframes a partir do conjunto principal. Crie um Dataframe para cada uma das regiões.

In [86]:
df_norte = df_estados[df_estados['Região'] == 'Norte']
df_nordeste = df_estados[df_estados['Região'] == 'Nordeste']
df_sudeste = df_estados[df_estados['Região'] == 'Sudeste']
df_centro_oeste = df_estados[df_estados['Região'] == 'Centro-Oeste']
df_sul = df_estados[df_estados['Região'] == 'Sul']

##### 11. Quantidade de estados por região?

In [99]:
print(f'Estados do Norte {df_norte["Estado"].count()}')
print(f'Estados do Nordeste {df_nordeste["Estado"].count()}')
print(f'Estados do Sudeste {df_sudeste["Estado"].count()}')
print(f'Estados do Centro-Oeste {df_centro_oeste["Estado"].count()}')
print(f'Estados do Sul {df_sul["Estado"].count()}')

Estados do Norte 7
Estados do Nordeste 9
Estados do Sudeste 4
Estados do Centro-Oeste 4
Estados do Sul 3

##### 12. Polulação total de cada região?

In [168]:
print(f'População total da região Norte {df_norte["População"].sum()}')
print(f'População total da região Nordeste {df_nordeste["População"].sum()}')
print(f'População total da região Sudeste {df_sudeste["População"].sum()}')
print(f'População total da região Centro-Oeste {df_centro_oeste["População"].sum()}')
print(f'População total da região Sul {df_sul["População"].sum()}')

População total da região Norte 15920996
População total da região Nordeste 53081950
População total da região Sudeste 80364410
População total da região Centro-Oeste 14058094
População total da região Sul 27386891

##### 13. Qual região com a maior população?

In [164]:
soma = df_nordeste["População"].sum(), df_norte["População"].sum(), df_centro_oeste["População"].sum(), df_sudeste["População"].sum(), df_sul["População"].sum()
print(f'A região com a maior população é a Sudeste com {max(soma)} de habitantes')

A região com a maior população é a Sudeste com 80364410 de habitantes

##### 14. Qual a regiçao com a menor população?

In [165]:
print(f'A região com a menor população é a Centro-Oeste com {min(soma)} de habitantes')

A região com a menor população é a Centro-Oeste com 14058094 de habitantes

##### 15. Qual a população média de cada região?

In [167]:
print(f'População média da região Norte {df_norte["População"].mean()}')
print(f'População média da região Nordeste {df_nordeste["População"].mean():.2f}')
print(f'População média da região Sudeste {df_sudeste["População"].mean():.2f}')
print(f'População média da região Centro-Oeste {df_centro_oeste["População"].mean():.2f}')
print(f'População média da região Sul {df_sul["População"].mean():.2f}')

População média da região Norte 2274428.0
População média da região Nordeste 5897994.44
População média da região Sudeste 20091102.50
População média da região Centro-Oeste 3514523.50
População média da região Sul 9128963.67